.carousel-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #111111e1; 
  }
  
  .carousel-content {
    text-align: center;
    color: white;
  }
  .custom-caption {
    font-size: 40px;
  }
  body {
    background-color: rgb(38, 0, 128);
    margin: 0;
  }
